{%extends "pages.html"%}
{%block content%}
<div class="container logo animated zoomIn">
        <h5>ARQUITECTURAPROJECT</h5>
</div>
<div class="container boton animated zoomIn">
<a href="{%url 'main:Home'%}">
        <button type="button" class="btn btn-outline-dark btn-circle btn-xl"><i class="fa fa-arrow-left"></i>
        </button>
</a>
</div>
<div class="container">
                <div class="row">
                        <div class="col col-lg-2 animated zoomIn">
                                <h4>Arquitectura y construccion</h4>
                                <a class="aside" href="{%url 'main:Arquitectura'%}">Arquitectura</a>
                                <br>
                                <a class="aside" href="{%url 'main:Interiorismo'%}">Interiorismo</a>
                        </div>
                        <div class=" col col-lg-8 animated zoomIn ">
                                <center>
                                        <h1>Arquitectura</h1>
                                </center>
                        </div>
                </div>
        </div>
{%endblock content%}